RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api(.*)$ index.php [QSA,L]
RewriteRule ^en/(.*)$ en/index.html [QSA,L]
RewriteRule ^ru/reglament(.*)$ ru/reglament.html [QSA,L]
RewriteRule ^ru/discord(.*)$ ru/discord.html [QSA,L]
RewriteRule ^ru/offline(.*)$ ru/offline.html [QSA,L]
RewriteRule ^ru/results(.*)$ ru/results.html [QSA,L]
RewriteRule ^ru/totals(.*)$ ru/totals.html [QSA,L]
RewriteRule ^ru/img/(.*)$ ru/img/$1 [QSA,L]
RewriteRule ^ru(.*)$ ru/index.html [QSA,L]
